<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	
	<bean name="producto" class="mx.com.sintelti.domain.ProductosEntity" scope="prototype"/>
	
	<bean name="venta" class="mx.com.sintelti.domain.VentaEntity" scope="prototype">
		<property name="productos" ref="listaProductos"></property>
	</bean>
	
	<bean name="listaProductos" class="java.util.HashSet" scope="prototype"/>
	
</beans>
